:root{
    --bg-main: rgb(14, 159, 255);
    --text-main: #898788;

    --text-primary: #00aaff;
    --bg-primary: #f4f4f4;

    --text-secondary: #333 ;
    --bg-secondary: #fff;

    --text-white: #fff;
    --skill-bg: #e7f3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--bg-primary);
    color: var(--text-secondary);

}

.my-btn{
    padding: 10px;
    font-size: 20px;
    width: 50px;
}
.my-btn:hover{
    font-size: 20px;
    opacity: 80;
    text-decoration:underline;
    text-transform:var(--bg-secondary);
}

a{
    text-decoration: none;
    transition: .6s;
    width: 50px;

}
a:hover{
    color: var(--text-secondary);
}

header{
    background-color: var(--bg-main);
    color: var(--text-white);

    position: sticky;
    top: 0;
    z-index: 100;
    


}

header p{
    font-size: xx-large;
    font-weight: 500 ;
}


header nav {
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding-top: 10px; */

    padding: 0px 50px;


    height: 45px;
    
}

#typed-output{
    display: block;
    height: 25px;
    font-size: bold;
    color: var(--text-primary);
}


.flex-row{
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.flex-row div{
    width: 50%;
}
@media (min-width: 768px) {
    .flex-row{
        text-align: center;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px;
    }
}


.hr{
    background-color: var(--text-secondary);
    height: 2px;
}

section{
    margin: 25px;
    padding: 25px;
    box-shadow: 0px 0px 15px #fdd ;
    background-color: var(--bg-secondary);

    border-radius: 10px;
}


.s-btn{
    text-align: center;
    background-color: var(--skill-bg);
    margin: 10px;
    padding: 5px;
    width: 280px;
    border-radius: 5px;

}
.bg{
    background-color: var(--skill-bg);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

footer{
    padding: 15px;
    background-color: var(--bg-main);
    color: var(--text-white);
    text-align: center;

}