.container{
    margin: 20px;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-media div{
    padding: 15px;
}
.social-media i{
    font-size: 25px;
    transition: 0.5;
}
.social-media div:hover{
    color: var(--green);
    transition: 0.5s;
}


@media screen and (min-width: 850px) {
    .container{
        width: 800px;
    }
}