header{
    margin: 0;
    background-color: var(--primary);
    color: var(--secondary);

    position: sticky;
    top: 0;
    z-index: 1;

    width: 100%;
    border-bottom: 1px solid white;

}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
}

header nav{
    padding-top: 35px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: var(--gray1);
}
nav a:hover {
    color: var(--green);
    transition: 0.5s;
}
header p{
    font-size: 24px;
    color: var(--green);
}
.red{color: red;}

aside{
    display: none;
}
#side-btn{
    display: none;
}

@media screen and (max-width: 850px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid white;
           

        
    }
    header p{
        font-size: 20px;
        font-weight: bold;
    }
    header nav{
        
        display: none;
    }

    #side-btn{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 35px;
        font-size: x-large;
        cursor: pointer;
        color: var(--brown);
    }
    aside{
        position: absolute;
        right: 10px;
        display: inline;
        background-color: var(--brown);
    }
    aside a{
        display: block;
        width: 200px;
        padding: 10px;
    }
    aside a:hover{
        background-color: var(--green);
        color: var(--white);
        transition: 0.5s;
    }

}

 /* header.css */
aside {
    display: none; /* Hide by default */
}

aside.visible {
    display: block; /* Show when visible */
}

aside.hidden {
    display: none; /* Hide when not visible */
}

