header{
    margin: 0;
    background-color: var(--primary);
    color: var(--secondary);
}


header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
}

header{
    position: absolute;
    top: 0;

    width: 100%;
    border-bottom: 1px solid white;
}
header nav{
    padding-top: 35px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: var(--gray1);
}
nav a:hover {
    color: var(--secondary);
    transition: 0.5s;
}
header p{
    font-size: 24px;
    color: var(--green);
}


@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}