header{
    margin: 0;
    padding: 0px 15px ;

    background-color: var(--primary);
    color: var(--secondary);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav{
    padding-top: 30px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: var(--gray1);
}
nav a:hover {
    color: var(--secondary);
    transition: 0.5s;
}
header p{
    font-size: 24px;
    color: var(--green);
}
