:root{
  --primary: #111111;
  --secondary: #ffffff;
  --gray1:#828282;
  --gray2: #4F4F4F;
  --green: #27AE60;

}

a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

body{
  margin: 0;
  padding: 0;

  background-color: var(--primary);
  color: var(--secondary);
}

html {
  scroll-behavior: smooth;
}