:root{
  --primary: #111111;
  --secondary: #ffffff;
  --gray1:#828282;
  --gray2: #4F4F4F;
  --green: #27AE60;
  --brown: #333;

}
.gray{
  color: var(--gray1);
}
.green{
  color: var(--green);
}
.brown{
  color: var(--brown);
}

main{
  margin-top: 60px;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

body{
  margin: 0;
  padding: 0;

  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
